<div class="container-fluid mt-5">
    <div class="row myFooter">
        <div class="col-md-2">
            <ul>
                <li class="mb-3">О доставке</li>
                <li class="mb-3">Cпособы оплаты</li>
                <li>О продукции</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li class="mb-3">Статьи</li>
                <li>Новости</li>
            </ul>
        </div><div class="col-md-2">
            <ul>
                <li class="mb-3">Beauty club</li>
                <li class="mb-3">Условия пользования</li>
                <li>Обмен и возврат</li>
            </ul>
        </div><div class="col-md-2">
            <ul>
                <li class="mb-3">О нас</li>
                <li class="mb-3">Контакты</li>
                <li>Приложение</li>
            </ul>
        </div><div class="col-md-4">
            <ul>
                <li class="mb-3">Мы всегда на связи!</li>
                <li class="mb-1">Вы можете <a href="#">написать нам письмо</a><br> позвонить нам по телефонам</li>
                <li class="mb-1"><h6>(812)</h6><h4> 888-93-12</h4></li>
                <li><h6>(812)</h6><h4> 433-25-12</h4></li>
            </ul>
        </div>
    </div>
</div>